@{
    Layout = "_BaseLayout.cshtml";
}
@section CSS{
    <link href="~/Content/css/Edit/header.css" rel="stylesheet" />
}
<div class="editor-bg-overlay">
    <div class="editor-header">
        <div>
            <a>トップに戻る</a>
        </div>
    </div>
    <nav class="editor-tab-container">
        <ul>
            <li>本文の編集</li>
            <li class="selected">設定の変更</li>
            <li>帯の編集</li>
        </ul>
    </nav>
    <div class="editor-content-bg">
        @RenderBody()
    </div>
    
    <div class="editor-footer">
        <button class="editor-submit-button">編集を適用する</button>
    </div>
</div>