<<<<<<< HEAD
﻿html,
body,
.afterlogin-container,
.afterlogin-main,
.afterlogin-sidebar,
.afterlogin-contents {
  height: 100%;
}
html,
body,
.afterlogin-container,
.afterlogin-main,
.afterlogin-footer {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  width: 100%;
}
body {
  background: url("/Content/imgs/bg-common.png");
}
img {
  vertical-align: bottom;
}
.afterlogin-container {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}
.afterlogin-main {
  overflow: hidden;
}
.afterlogin-sidebar {
  float: left;
  background: #433D59;
  color: #fff;
  width: 200px;
}
.afterlogin-sidebar .profile {
  overflow: hidden;
}
.afterlogin-sidebar .profile > div {
  float: left;
  font-size: 15px;
  font-weight: 700;
  margin: 10px auto 10px;
  position: relative;
}
.afterlogin-sidebar .profile > div > p {
  margin-top: 20px;
  padding: 0.3em 1em;
  border-bottom: #bbb solid 1px;
}
.afterlogin-sidebar .profile > div > img {
  padding: 5px;
  text-align: right;
  border: 1px solid #bbb;
}
.afterlogin-sidebar .profile:nth-child(2) {
  text-align: center;
  margin: 0 auto;
  background: #746e8a;
  margin-bottom: 40px;
}
.afterlogin-sidebar a {
  color: #fff;
  text-decoration: none;
}
.afterlogin-sidebar a:hover {
  text-decoration: underline;
}
.afterlogin-sidebar ul {
  text-align: right;
  font-size: 14px;
}
.afterlogin-sidebar ul li {
  padding: 10px 1em;
  margin: 3px 0;
  border-right: solid 5px #ccc;
}
.afterlogin-sidebar ul a[href='/Home/AfterLogin'] li {
  font-weight: 700;
  border: none;
  box-shadow: 1.2em 0 #9e9cbf;
  background: #9e9cbf;
}
.afterlogin-sidebar .side-footer {
  font-size: 10px;
  margin: 100px auto;
  text-align: center;
}
.afterlogin-contents {
  float: left;
  margin-left: 100px;
}
.afterlogin-contents h1 {
=======
﻿.afterlogin-contents h1 {
>>>>>>> 47a1b61a09e30efe730dcca60883b17224a07abe
  padding-left: 2.5em;
  padding-top: 0.4em;
  font-size: 20px;
  font-weight: 700;
  height: 67px;
  background: url('../../imgs/Home/h1.png') no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
}
.afterlogin-contents .books {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 20px;
  vertical-align: middle;
}
.afterlogin-contents .books a {
  margin-right: 45px;
}
.afterlogin-contents .books > img {
  margin-right: 45px;
  margin-bottom: 55px;
}
.afterlogin-contents .books > img:first-child {
  margin-left: 30px;
}
a[href='Follow'] li,
a[href='Settings'] li {
  margin-top: 20px;
}
a[href='Settings'] li {
  border-right: none;
}
.tip-container {
  width: 400px;
}
.tip-book-title {
  text-align: center;
  font-size: x-large;
  margin: 2px auto;
}
.tip-book-auther {
  text-align: center;
  margin: 2px auto;
}
.tip-left {
  float: left;
  width: 50%;
}
.tip-theme {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: 2px solid #000;
}
.tip-theme .my-custom-theme {
  border-radius: 5px;
  border: 2px solid #000;
  background: #4c4c4c;
  color: #fff;
}
/*# sourceMappingURL=afterLogin.css.map */