@model dynamic

@{
    ViewBag.Title = "帯編集～～";
    Layout = "../Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Edit/ObiEdit.min.css" rel="stylesheet" />
    
}

@section JS
{
    <script src="~/Scripts/Edit/ObiEdit.js"></script>

}
<!--body-->
    <div class="obiedit-contents">
        <h1>帯編集</h1>
        <div class="book">
            <h2>無職転生</h2>
            <p style="text-align: center">ー異世界行ったら本気出すー</p>
            <p style="text-align: right">理不尽な孫の手：著</p>
        </div>
        <div class="obi">
            <p>ああああああああああ</p>
            <p>ああああああああああああああああ</p>
            <p>あああああああああああああああ</p>
        </div>あ
    </div>
 <!--/body-->
