@model dynamic

@{
    Layout = "../Shared/_BaseLayout.cshtml";
}
@section CSS
{
    <link href="~/Content/css/View/index.css" rel="stylesheet" />
    <link href="~/Content/css/Novel/novel-viewer.css" rel="stylesheet" />
}
@section JS
{
    
    <script src="~/Scripts/Utility/HeightStretcher.js"></script>
    <script src="~/Scripts/Novel/ParagraphFactory.js"></script>
    <script src="~/Scripts/View/index.js"></script>
}
<div id="container">
    <!-- ▼ ヘッダー -->
    <header>
        <a class="Topimage" href="#"><img src="/Content/imgs/View/goHome.png" alt="TAG index"></a>
        <a class="toTop" href="#">トップに戻る</a>
    </header>

    <!-- ▼ コンテンツ内容 -->
    <article>
        <a href="#"><img class="img-to-right" src="/Content/imgs/View/pageRight.svg" alt="次のページへ"></a>
        <a href="#"><img class="img-to-left" src="/Content/imgs/View/pageLeft.svg" alt="前のページへ"></a>
        <section id="left" class="novel-side">

        </section>
        <section id="right" class="novel-side">
            <div class="novel-side-inner">
                <p>1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890</p><br />
                <p>1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890</p><br />
                <p>1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890</p><br />
            </div>
            @*            <p>あいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこ</p>*@
        </section>
    </article>

    <!-- ▼ フッター -->
    <footer>
        <div class="footer-line"></div>
        <div class="postit">
            <ul>
                <li>
                </li>
            </ul>
        </div>
    </footer>
</div>