@model dynamic

@{
    Layout = "../Shared/_BaseLayout.cshtml";
}
@section CSS
{
    <link href="~/Content/css/View/index.css" rel="stylesheet" />
    <link href="~/Content/css/Novel/novel-viewer.css" rel="stylesheet" />
}
@section JS
{
    <script src="~/Scripts/Utility/HeightStretcher.js"></script>
<script src="~/Scripts/Novel/Markups.js"></script>
<script src="~/Scripts/Novel/novel-editor.js"></script>
    <script src="~/Scripts/Novel/ParagraphFactory.js"></script>
    <script src="~/Scripts/View/index.js"></script>
<script src="~/Scripts/Novel/novel-viewer.js"></script>
}
<div id="container">
    <!-- ▼ ヘッダー -->
    <header>
        <a class="Topimage" href="#"><img src="/Content/imgs/View/goHome.png" alt="TAG index"></a>
        @Html.ActionLink("トップに戻る","AfterLogin","Home",null,new{@class="toTop"})
    </header>

    <!-- ▼ コンテンツ内容 -->
    <article>
        <a href="#"><img class="img-to-right" src="/Content/imgs/View/pageRight.svg" alt="次のページへ"></a>
        <a href="#"><img class="img-to-left" src="/Content/imgs/View/pageLeft.svg" alt="前のページへ"></a>
        <section id="left" class="novel-side">
            <div id="left-inner">
                Lorem ipsum dolor sit amet, amet iaculis consectetuer. Sociis ultricies ante condimentum imperdiet at dui, nec consequat, cursus montes ut interdum elit dolor. Eget euismod odio, dolor consequat metus eros luctus, volutpat congue rutrum, per per, ultrices convallis lectus natoque. Duis justo eleifend suspendisse tristique viverra tempor, ultrices donec enim amet placerat turpis. Enim ligula in vehicula, class morbi, tellus morbi sed ante urna, ac mauris habitasse vel augue, id eget potenti a sodales nostra. Magna ullamcorper, rutrum rutrum et tortor non mauris id, consequat sociis sed erat consectetuer, sit justo pretium tempus, ut at venenatis tincidunt sit etiam sit. At ligula tristique inceptos, in a nulla elementum auctor, ultricies cum ante nam. Quis neque laoreet ut mattis vitae, mauris a elit integer vivamus sed ut, ullamcorper et, inceptos gravida. Mauris ornare velit, habitant dolor tortor sed in at netus, leo vestibulum arcu, vestibulum velit nonummy ac, aliquam mauris. Justo sit massa, nec massa eget quis lacus amet, vitae libero dolor nunc fringilla nunc risus, convallis odio enim wisi sit tristique. Aliquet ipsum.
            </div>
        </section>
        <section id="right" class="novel-side">
            <div id="right-inner">
                Lorem ipsum dolor sit amet, amet iaculis consectetuer. Sociis ultricies ante condimentum imperdiet at dui, nec consequat, cursus montes ut interdum elit dolor. Eget euismod odio, dolor consequat metus eros luctus, volutpat congue rutrum, per per, ultrices convallis lectus natoque. Duis justo eleifend suspendisse tristique viverra tempor, ultrices donec enim amet placerat turpis. Enim ligula in vehicula, class morbi, tellus morbi sed ante urna, ac mauris habitasse vel augue, id eget potenti a sodales nostra. Magna ullamcorper, rutrum rutrum et tortor non mauris id, consequat sociis sed erat consectetuer, sit justo pretium tempus, ut at venenatis tincidunt sit etiam sit. At ligula tristique inceptos, in a nulla elementum auctor, ultricies cum ante nam. Quis neque laoreet ut mattis vitae, mauris a elit integer vivamus sed ut, ullamcorper et, inceptos gravida. Mauris ornare velit, habitant dolor tortor sed in at netus, leo vestibulum arcu, vestibulum velit nonummy ac, aliquam mauris. Justo sit massa, nec massa eget quis lacus amet, vitae libero dolor nunc fringilla nunc risus, convallis odio enim wisi sit tristique. Aliquet ipsum.
            </div>
        </section>
    </article>

    <!-- ▼ フッター -->
    <footer>
        <div class="footer-line"></div>
        <div class="postit">
            <ul>
                <li>
                </li>
            </ul>
        </div>
    </footer>
</div>