html, body, .afterlogin-container, .afterlogin-main, .afterlogin-sidebar, .afterlogin-contents {
    height: 100%;
}

html, body, .afterlogin-container, .afterlogin-main, .afterlogin-footer {
    width: 100%;
}

body {
    background: url("/Content/imgs/bg-common.png");
}

img { vertical-align: bottom }

.afterlogin {

    &-container {
        position: relative;
        margin: 0 auto;
        min-height: 100%;

    }

    &-main {
        overflow: hidden;
    }

    &-sidebar {
        position: relative;

        float: left;
        background: #433D59;
        color: #fff;
        width: 150px;

        &-x {
            position: absolute;
            top: 0;
            right: 0;
            > div {
                font-size: 28px;
                position: relative;
                right: -100%;
                background: #433D59;
                padding: 12px 12px 12px 0;
                border-radius: 0 30px 30px 0;
                color: #fff;
                text-align: center;
            }

        }

        .profile {
            overflow: hidden;
            > div {
                float: left;
                font-size: 10px;
                font-weight: 700;
                margin: 10px auto 10px; 
                position: relative;
                > p {
                    margin-top: 20px;
                    padding: 0.3em 1em;
                    border-bottom: #bbb solid 1px;
                }

                > img {
                    padding: 5px;
                    border: 1px solid #bbb;
                }
            }

            &:nth-child(2) {
                text-align: center;
                padding-top: 4px;
                padding-bottom: 4px;
                margin: 0 auto 40px;
                background: #746e8a;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            text-align: right;
            font-size: 14px;
            li {
                padding: 0.1em 1em;
                margin: 0.3em 0;
                border-right: solid 4px #ccc;
            }
        }

        .side-footer {
            font-size:10px;
            margin: 100px auto;
            text-align: center;

        }

    }

    &-searchbutton {
        position: absolute;
        top: 0;
        right: 0;
        height: 70px;
        width : 70px;
        background: #433D59 url('../../imgs/Home/search.png') right top;
        border-radius: 0 0 0 70px;
        color: #fff;
        text-align: center;
    }


    &-contents {
        position: relative;
        float: left;
        margin-left: 100px;
    }


    &-footer {
        text-align: center;
        font-size: 10px;
        position: absolute;
        border-top: 1px solid #222;
        height: 2em;
        bottom: 0;
        background: #444;
        a {
            color: #fff;
            text-decoration: none;
            padding: 0 2px 0;
            &:hover {
                color: #eee;
                text-decoration: underline;
            }
        }
    }

}
