@model  dynamic

@{
    ViewBag.Title = "linophi";
    Layout = "~/Views/Home/_TopLayout.cshtml";
}

@section CSS_Child
{
    <link href="~/Content/css/Home/afterLogin.min.css" rel="stylesheet" />
}

<!-- .afterlogin-*の省略形のクラス名

*   container
*       main
*           sidebar
*           contents
*       footer

-->

<h1>ランキング</h1>
<div class="books">

    <img src="~/Content/imgs/Home/left.png" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/right.png" />
</div>

<h1>フォロー著者の新着</h1>

<div class="books">
    <img src="~/Content/imgs/Home/left.png" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/book.jpg" height="141" width="100" />
    <img src="~/Content/imgs/Home/right.png" />
</div>