@model  dynamic

@{
    ViewBag.Title = "linophi";
    Layout = "~/Views/Home/_TopLayout.cshtml";
}

@section CSS_Child {
    <link href="~/Content/css/Home/follow.min.css" rel="stylesheet">
}

<h1>ƒtƒHƒƒ[</h1>
<div class="afterlogin-box-wrapper1">
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
</div>
<div class="afterlogin-box-wrapper1">
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
</div>
<div class="afterlogin-box-wrapper1">
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
</div>
<div class="afterlogin-box-wrapper1">
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
    <div class="afterlogin-box-wrapper2">
        <div class="afterlogin-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>µÂŒ •º‰q</p>
        </div>
        <div class="afterlogin-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="BookShelves">–{’I</a></p>
                <p><a href="Settings">İ’è</a></p>
            </div>
        </div>
    </div>
</div>
