@model  dynamic

@{
    ViewBag.Title = "linophi";
    Layout = "~/Views/Home/_TopLayout.cshtml";
}

@section CSS_Child {
    <link href="~/Content/css/Home/follow.min.css" rel="stylesheet">
}

<h2>フォロー</h2>
<div class="follow-box-wrapper1">
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
</div>
<div class="follow-box-wrapper1">
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
</div>
<div class="follow-box-wrapper1">
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
</div>
<div class="follow-box-wrapper1">
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
    <div class="follow-box-wrapper2">
        <div class="follow-box-left">
            <img src="~/Content/imgs/Home/samune.png" height="70" width="70">
            <p>七篠権兵衛</p>
        </div>
        <div class="follow-box-right">
            <div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div>
                <p><a href="">プロフィール</a></p>
                <p><a href="">設定</a></p>
            </div>
        </div>
    </div>
</div>
