@{
    Layout = null;
}
<html>
    <head>
        <meta name="robots" content="noindex,nofollow"/>
        <title>linophi - 綴る衝動、紡ぐ感動。</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
        <link href="~/Content/css/Home/index.css" rel="stylesheet" />
    </head>
<body>
    <div class="header">
        <img src="/Content/imgs/logo.png" />
        <div class="header-container-outer">
            <div class="header-container-inner">
                <h1>linophi - リノフィー - </h1>
                <h2>綴る衝動、紡ぐ感動。</h2>
                <div class="header-desc">
                    <p>携帯小説は次の時代を迎えました。</p>
                    <p>新たなデバイスのためのメディア、新たな形の著者と読者の関わり、</p>
                    <p>新しい挑戦はあなたと共に始まります。今日のここから...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="login-container-outer">
            <div class="login-container-inner">
                <h1>新しい世界への扉は数十秒で開きます。</h1>
                <p>あなたのいつも使っているサービスがカギになります。</p>
                <div class="login-icon-container">
                    <div class="login-icon-twitter-container">
                        <a class="login-icon-twitter">
                            <img src="~/Content/imgs/social/Twitter.png" />
                        </a>
                    </div>
                    <div class="login-icon-facebook-container">
                        <a class="login-icon-facebook">
                            <img src="~/Content/imgs/social/facebook.png" />
                        </a>
                    </div>
                    <div class="login-icon-google-container">
                        <a class="login-icon-google">
                            <img src="~/Content/imgs/social/google.png" />
                        </a>
                    </div>
                    <div class="login-icon-yahoojpn-container">
                        <a class="login-icon-yahoojpn">
                            <img src="~/Content/imgs/social/yahoojpn.png" />
                        </a>
                    </div>
                    <div class="login-dummy"></div>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-content-divider">@Html.ActionLink("linophiとは","About")</div>
                <div class="footer-content-divider">@Html.ActionLink("プライバシーポリシー", "PrivacyPolicy")</div>
                <div class="footer-content-divider">@Html.ActionLink("利用規約", "Terms")</div>
                <div class="footer-content-divider">@Html.ActionLink("開発者", "Developer")</div>
            </div>
            <div class="footer-copyright">
                <p>©2014 beep project team.All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>