@model  dynamic

@{
    ViewBag.Title = "linophi";
    Layout = "~/Views/Home/_TopLayout.cshtml";
}

@section CSS_Child
{
    <link href="~/Content/css/Home/afterLogin.min.css" rel="stylesheet" />
    <style>
        a[href='Favorites'] li {
            font-weight: 700;
            border: none;
            box-shadow: 1.2em 0 #9e9cbf;
            background: #9e9cbf;
        }
    </style>
}

<h1>自分の作品</h1>
<div class="books">
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
</div>

<div class="books">
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
</div>

<div class="books">
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    <a href="/View/Index" class="title-tooltiper"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
</div>