@model  dynamic

@{
    ViewBag.Title = "linophi";
    Layout = "~/Views/Home/_TopLayout.cshtml";
}

@section CSS_Child
{
    <link href="~/Content/css/Home/ranking.min.css" rel="stylesheet" />
}

<h1>ランキング</h1>
<div class="books">
    <div>
        <p>１</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>２</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>３</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>４</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>５</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>６</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
</div>

<div class="books">
    <div>
        <p>７</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>８</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>９</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>１０</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>１１</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
    <div>
        <p>１２</p>
        <a href="/View/Index"><img src="~/Content/imgs/Home/book.jpg" height="141" width="100" /></a>
    </div>
</div>