@model dynamic

@{
    ViewBag.Title = "検索結果";
    Layout = "~/Views/Home/_TopLayout.cshtml";
}

@section CSS_Child
{
    <link href="~/Content/css/Home/search.min.css" rel="stylesheet">
}

<h1>検索結果</h1>
<div class="search-result">
    <a href=""><img src="~/Content/imgs/Home/book.jpg"></a>
    <div>
        <p><a href="">いかにして問題をとくか　-　G.Polya著</a></p>
        <p>或る問題に直面したとき、如何なる手順でアプローチすべきか。勿論、凡ゆる問題に対して一意的に解答を与える普遍的な万能アルゴリズムは存在しないだろう。しかし、解決へ向けてのヨリ適切な指針を、一般的な形で模索することは無駄ではない。本書では、高等学校程度の数学の問題を主な題材として採り、上記のテーマを考察している。とはいえ、そこで得られる指針は、数学に限らず様々な分野の問題に対処し得る一般的なものである。...</p>
    </div>
</div>
<div class="search-result">
    <a href=""><img src="~/Content/imgs/Home/book.jpg"></a>
    <div>
        <p><a href="">いかにして問題をとくか　-　G.Polya著</a></p>
        <p>或る問題に直面したとき、如何なる手順でアプローチすべきか。勿論、凡ゆる問題に対して一意的に解答を与える普遍的な万能アルゴリズムは存在しないだろう。しかし、解決へ向けてのヨリ適切な指針を、一般的な形で模索することは無駄ではない。本書では、高等学校程度の数学の問題を主な題材として採り、上記のテーマを考察している。とはいえ、そこで得られる指針は、数学に限らず様々な分野の問題に対処し得る一般的なものである。...</p>
    </div>
</div>
<div class="search-result">
    <a href=""><img src="~/Content/imgs/Home/book.jpg"></a>
    <div>
        <p><a href="">いかにして問題をとくか　-　G.Polya著</a></p>
        <p>或る問題に直面したとき、如何なる手順でアプローチすべきか。勿論、凡ゆる問題に対して一意的に解答を与える普遍的な万能アルゴリズムは存在しないだろう。しかし、解決へ向けてのヨリ適切な指針を、一般的な形で模索することは無駄ではない。本書では、高等学校程度の数学の問題を主な題材として採り、上記のテーマを考察している。とはいえ、そこで得られる指針は、数学に限らず様々な分野の問題に対処し得る一般的なものである。...</p>
    </div>
</div>
<div class="search-result">
    <a href=""><img src="~/Content/imgs/Home/book.jpg"></a>
    <div>
        <p><a href="">いかにして問題をとくか　-　G.Polya著</a></p>
        <p>或る問題に直面したとき、如何なる手順でアプローチすべきか。勿論、凡ゆる問題に対して一意的に解答を与える普遍的な万能アルゴリズムは存在しないだろう。しかし、解決へ向けてのヨリ適切な指針を、一般的な形で模索することは無駄ではない。本書では、高等学校程度の数学の問題を主な題材として採り、上記のテーマを考察している。とはいえ、そこで得られる指針は、数学に限らず様々な分野の問題に対処し得る一般的なものである。...</p>
    </div>
</div>